.header-image {
  width: 240px;
  height: 70px;
}

.welcome-text {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  color: #333;
}

.user-info {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  background: #eee;
}

.title-uppercase {
  text-transform: uppercase;
}

.title-color {
  color: #363b3f;
}

.title-color-nomal {
  color: #055699;
}
.title-color-vip {
  color: #ea2e9d;
}
.title-color-oustanding-vip {
  color: #e13427;
}

/* Post detail */
.navbar_space {
  width: 50px;
}
.cropitem {
  height: 300px;
  object-fit: contain;
}
.info_sell {
  height: 309px;
  width: 100%;
  background-color: rgba(253, 152, 67, 255);
}
.avata {
  width: 80px;
  height: 80px;
}
.iconzalo {
  width: 20px;
  height: 20px;
  background: url(/public/images/icon-zalo.png) center no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.container-zalo,
.iconzalo {
  align-items: center;
}
.iconstar {
  color: gold;
}
.map {
  height: 300px;
}
/* .card-list {
  background-color: #fff7f1;
  height: 96px;
}

.card-list img {
  height: 96px;
  width: 99px;
  object-fit: cover;
}
.card-list-relation img {
  height: 96px;
  width: 99px;
  object-fit: cover;
}
.card-list-relation {
  height: 96px;
  background-color: #f2fcf9;
} */

.post-attributes-icon {
  color: #b7b7b7;
}

.post-attributes-icon.price {
  width: 1.5rem;
  height: 1.5rem;
}

.post-attributes-price {
  color: #16c784;
  font-weight: bold;
  font-size: 1.5rem;
}

.post-listing.aside {
  margin-left: -30px;
}

.post-listing.aside .post-item {
  padding: 10px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
}

.post-listing.aside .post-item:last-of-type {
  border-bottom: 0;
}

.post-listing.aside .post-item a {
  display: flex;
}

.post-listing.aside .post-item figure {
  width: 65px;
  height: 65px;
}

.post-listing.aside .post-item .post-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
}

.post-listing.aside .post-item .post-price {
  font-size: 1rem;
  margin-bottom: 0;
  margin-right: 0;
}

.post-listing.aside .post-item .post-time {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.post-listing .post-item figure img.lazy_done {
  opacity: 1;
}

.post-listing .post-item.vip2 {
  z-index: 3;
}
/* Post detail */

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loader */

/* Header */
.content-header li {
  margin-left: 15px;
}
/* Header */

/* Admin */
.admin-header {
  background-color: #223442;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.admin-sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.admin-sidebar .nav-link.active {
  color: white !important;
  background-color: #3f546e;
}

.admin-sidebar .nav-link:not(.active):hover {
  color: #000;
  background: #f1f1f1;
}
/* Admin */

/* Moderator */
.moderator-header {
  background-color: #405189;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.moderator-sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.moderator-sidebar .nav-link.active {
  color: white !important;
  background-color: #6674a1;
}

.moderator-sidebar .nav-link:not(.active):hover {
  color: #000;
  background: #f1f1f1;
}
/* Admin */

/* User management*/
.navbar-brand {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.user-header {
  background-color: #055699;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.user-sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.user-sidebar .nav-link.active {
  color: white !important;
}

.user-sidebar .nav-link:not(.active):hover {
  color: #000;
  background: #f1f1f1;
}

.user-main {
  padding-top: 68px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  margin-left: auto !important;
}

.desktop {
  display: block !important;
}

.dashboard_list_menu .list-group-item {
  padding: 1rem 0.75rem;
  color: #000;
}

.dashboard_list_menu .angle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}

.form-control.disable {
  background-color: #e9ecef;
  opacity: 1;
}

.user-avatar-upload-wrapper {
  width: 140px;
}

.user-avatar-preview {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fafafa;
}

.btn-add-avatar {
  color: transparent;
  margin: 5px 0 10px;
  width: 100%;
}

.btn-add-avatar::before {
  content: 'Chọn ảnh';
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #000;
  border-radius: 5px;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.remove-image {
  color: red !important;
  cursor: pointer;
  display: none;
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.remove-image.upload_done {
  display: inline-block;
}

.table thead {
  font-weight: bold;
}

.table td,
.table th {
  vertical-align: middle;
}

.table_post_listing {
  font-size: 0.9rem;
}

.table_post_listing td {
  vertical-align: middle;
}

.table_post_listing .post_thumb {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.table_post_listing .post_thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  font-size: 0.8rem;
}

.table_post_listing .post_title {
  font-weight: bold;
  font-size: 1rem;
  color: #055699;
}

.table_post_listing .post_price {
  color: #37a344;
  white-space: nowrap;
}

.table_post_listing td {
  vertical-align: middle;
}

.table_post_listing .post_btn_toolbar .btn {
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  border: 0;
  background: #eee;
  color: #000;
}

.table_post_listing .post_btn_toolbar .btn svg {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/* User management*/

********* Template CSS ********* :root {
  --primary: #00b98e;
  --secondary: #ff6922;
  --light: #effdf5;
  --dark: #0e2e50;
}

/* Property List */
.property-item img {
  transition: 0.5s;
}

.property-item:hover img {
  transform: scale(1.1);
}
.property-item:hover a {
  color: rgba(var(--bs-primary-rgb));
}
.property-item a {
  text-decoration: none;
}

.property-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
/* Property List */

/* Favorite page */
.container {
  margin: 0 auto;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

#left-col {
  float: left;
  width: 100%;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.section-post-listing li,
.section-post-listing ol,
.section-post-listing ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section .section-header {
  margin-top: 0;
  margin-bottom: 15px;
}

.section .section-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.section .section-title.small {
  font-size: 1.2rem;
}

.post-listing .post-item {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  margin: 0;
  background-color: #fff;
  z-index: 0;
  position: relative;
}

.post-listing .post-item.vip1 {
  z-index: 4;
}

figure {
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.post-listing .post-item figure {
  width: 170px;
  height: 160px;
  position: relative;
  overflow: initial;
}

.post-listing img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-listing .post-item figure img {
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.post-listing .post-item figure img.lazy_done {
  opacity: 1;
}

.post-listing .post-item .images-number {
  position: absolute;
  bottom: 8px;
  left: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  pointer-events: none;
}

.post-listing .post-item .has-video {
  width: 100%;
  height: 100%;
  display: block;
  background: url(/public/images/property-test.jpg) center no-repeat;
  background-size: 45px;
  pointer-events: none;
  z-index: 1;
  position: absolute;
  top: 0;
}

.post-listing .post-item .post-save {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.homepage-post-listing {
  margin-top: 20px;
}

.post-details-save .post-save.saved i,
.homepage-post-listing .post-save.saved i,
.post-listing .post-item .post-save.saved i,
.post-listing .post-item .post-save:hover i {
  background: url(/public/images/love-full.png) center no-repeat;
  background-size: contain;
}

.post-details-save .post-save i,
.homepage-post-listing .post-save i,
.post-listing .post-item .post-save i {
  width: 23px;
  height: 23px;
  background: url(/public/images/love.png) center no-repeat;
  background-size: contain;
  display: inline-block;
}

.post-details-save .post-save i {
  margin-bottom: -5px;
}

.homepage-post-listing .post-save i {
  width: 36px;
  height: 36px;
}

.post-listing .post-item .post-meta {
  margin-left: 15px;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.post-listing .post-item .post-title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  display: block;
  white-space: normal;
  margin: 0 0 10px;
}

.post-listing .post-item .post-title a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.star {
  width: 14px;
  height: 17px;
  background: url(https://phongtro123.com/images/mobile/star2.png) left center
    repeat-x;
  background-size: 14px 14px;
  display: inline-block;
  margin-right: 3px;
  float: left;
}

.star.star-4 {
  width: 56px;
  height: 17px;
}

.star.star-3 {
  width: 42px;
  height: 17px;
}

.post-listing .post-item .post-acreage,
.post-listing .post-item .post-location,
.post-listing .post-item .post-price,
.post-listing .post-item .post-summary {
  float: left;
  margin-right: 20px;
  color: #333;
  line-height: 19px;
}

.post-listing .post-item .meta-row {
  margin-bottom: 10px;
}

.post-listing .post-item .post-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #16c784;
}

.post-listing .post-item .post-location a {
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  overflow: hidden;
  max-width: 250px;
  color: #333;
}

.post-listing .post-item .post-time {
  float: right;
  margin-right: 0;
  color: #aaa;
  line-height: 19px;
  font-size: 0.9rem;
}

.post-listing .post-item .post-summary {
  margin: 10px 0 0;
  color: #8a8d91;
  float: none;
}

.post-listing .post-item .meta-row:last-of-type {
  margin-bottom: 0;
}

.post-listing .post-item .post-author {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: #8a8d91;
}

.post-listing .post-item .post-author img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
/* Favorite page */
/* Slider */
.custom-slider {
  margin-top: 18px;
}

.custom-slider .rs-slider-handle {
  top: -9px;
  background-color: #3498ff;
  text-align: center;
  padding: 3px;
  margin-left: -16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.custom-slider .rs-slider-handle:hover {
  box-shadow: 0 0 0 8px rgb(52 152 255 / 25%);
}

.custom-slider .rs-slider-handle::before {
  display: none;
}

.custom-slider.rs-slider-dragging .rs-slider-handle,
.custom-slider.rs-slider-dragging .rs-slider-handle:hover {
  box-shadow: none;
  transform: scale(1.2);
}
/* Slider */

/* Image postnew */
.post-images {
  width: 100%;
  height: 150px;
  overflow: hidden;
  object-fit: contain;
}

/* Service Price List */
.pricing-box {
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  padding: 35px 50px;
  border-radius: 20px;
  position: relative;
}

.pricing-box .plan {
  font-size: 34px;
}

.pricing-badge {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.pricing-badge .badge {
  float: right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  color: #ffffff;
  background: #fb7179;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
p {
  line-height: 1.7;
}
/* Service Price List */
